div.thumbnailSizeSelector {
	padding: 10px 0px;
	float: right;
}

div.thumbnailSizeSelector div.thumbnailSize {
	float: left;
	padding: 0px 15px 0px 0px;
	text-align: center;
}

div.thumbnailSizeSelector div.thumbnailSizeSelected {
	float: left;
	text-align: left;
	padding: 0px 15px 0px 0px;
}

div.thumbnailSizeSelector div.thumbnailSize a {
	cursor: pointer;
}

div.thumbnailSizeSelector div.thumbnailSizeSelected a {
	cursor: pointer;
	color: #369;
	font-weight: bolder;
}
