<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/styles/main.css}" href="../styles/main.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    		<div th:replace="fragments/page :: header"></div>
    		<div th:replace="fragments/page :: menu"></div>
    		<div class="main-content">
				<form method="POST"
					th:action="@{/tools/bulk-tagging/}">
					<table>
						<tr>
							<th>Album</th>
							<td><input type="text" name="album"/></td>
						</tr>
						<tr>
							<th>Files</th>
							<td><textarea name="files" rows="20" cols="150"></textarea></td>
						</tr>
						<tr>
							<th></th>
							<td><input type="submit" value="Start" /></td>
						</tr>
					</table>
				</form>
    		</div>
        
    </body>
    
</html>