<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/styles/main.css}" href="../styles/main.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    		<div th:replace="fragments/page :: header"></div>
    		<div th:replace="fragments/page :: menu"></div>
    		<div class="main-content">
	    		<p><a th:href="@{/tools/inspect-archive}">inspect archive</a></p>
	    		<p><a th:href="@{/tools/rebuild-index}">rebuild Solr index</a></p>
	    		<p><a th:href="@{/tools/generate-thumbnails}">generate thumbnails</a></p>
	    		<p><a th:href="@{/tools/bulk-tagging}">bulk tagging</a></p>
	    		<!-- <p><a th:href="@{/tools/fix-hashcodes}">fix hashcodes</a></p> -->
    		</div>
        
    </body>
    
</html>