<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/styles/main.css}" href="../styles/main.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    		<div th:replace="fragments/page :: header"></div>
    		<div th:replace="fragments/page :: menu"></div>
    		<div class="main-content">
			<div th:each="year,iter : ${years}">
				<a th:if="${year.left!=selectedYear}" th:text="${year.left} + ' (' + ${year.right} + ')'"
					th:href="@{/timeline/{year}/(year=${year.left})}"></a>
				<a th:if="${year.left==selectedYear}" th:text="${year.left} + ' (' + ${year.right} + ')'"
					th:href="@{/timeline}"></a>
				<div th:if="${year.left==selectedYear}" th:each="month,iter : ${months}">
					<a th:text="${month.left.month} + ' (' + ${month.right} + ')'"
						th:href="@{/timeline/{year}/{month}/(year=${selectedYear}, month=${month.left.monthValue})}"></a>
				</div>
			</div>
    		</div>
        
    </body>
    
</html>