<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Biography</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/styles/main.css}" href="../styles/main.css"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:replace="fragments/page :: header"></div>
	<div th:replace="fragments/page :: filenameSubheader"></div>
	<div class="main-content">
		<div class="image-detail-view">
			<div class="image-detail-view-image">
				<a th:href="@{/file/{fileName}/raw(fileName=${file})}"> <img
					th:src="@{/file/{fileName}/raw(fileName=${file})}" />
				</a>
			</div>
			<div class="image-detail-view-data">
				<table>
					<tr th:if="${!editMode}">
						<th>Description</th>
						<td th:text="${description}"></td>
						<td><a
							th:href="@{/file/{fileName}/edit/(fileName=${fileName})}"
							th:text="'EDIT'"></a></td>
					</tr>
					<tr th:if="${editMode}">
						<th>Description</th>
						<td>
							<form method="POST"
								th:action="@{/file/__${fileName}__/save/}">
								<input type="text" name="description" th:value="${description}" /> 
								<input type="submit" value="Save" />
							</form>
						</td>
					</tr>
					<tr>
						<th>Date Time Original</th>
						<td th:text="${dateTimeOriginal}"></td>
					</tr>
					<tr>
						<th>Albums</th>
						<td>
							<span class="album-tag" th:each="album, iter : ${albums}" th:text="${album.title}"></span>
						</td>
					</tr>
					<tr th:if="${editMode}">
						<th></th>
						<td>
							<form method="POST"
								th:action="@{/file/__${fileName}__/album/add/}">
								<input type="text" name="album" th:value="${album}" /> 
								<input type="submit" value="Add" />
							</form>
						</td>
					</tr>
					<tr th:if="${editMode}">
						<th></th>
						<td>
							<form method="POST"
								th:action="@{/file/__${fileName}__/album/remove/}">
								<input type="text" name="album" th:value="${album}" /> 
								<input type="submit" value="Remove" />
							</form>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>