<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link th:href="@{/styles/main.css}" href="../styles/main.css" rel="stylesheet" type="text/css"  />
    </head>
    <body>
    		<div th:replace="fragments/page :: header"></div>
    		<div th:replace="fragments/page :: filenameSubheader"></div>
	<div class="main-content">
<!-- 
     		<p th:text="${dateTimeOriginal}" />
    		<p th:text="${albums}" />
 -->
		<div class="image-detail-view">
    		<a th:href="@{/file/{fileName}/raw(fileName=${file})}">
	    		<img th:src="@{/file/{fileName}/raw(fileName=${file})}" />
    		</a>
		</div>
	</div>
    </body>
</html>