<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Biography</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link th:href="@{/styles/main.css}" href="../styles/main.css"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<div th:replace="fragments/page :: header"></div>
	<div th:replace="fragments/page :: menu"></div>
	<div class="main-content">
		<div>
			<div th:if="${importJob.running}">
				<span>IMPORT JOB IS RUNNING ...</span>
			</div>
			<div th:unless="${importJob.running}">
				<form method="POST" th:action="@{/import/start}">
				    Album: <input type="text" name="album"/>
					<input type="submit" value="START IMPORT JOB" />
				</form>
			</div>
			<div th:unless="${importJob.running}">
				<form method="POST" th:action="@{/import/clear}">
					<input type="submit" value="CLEAR IMPORT JOB" />
				</form>
			</div>
			<table>
				<tr>
					<th>File</th>
					<th>Type</th>
					<th>EXIF?</th>
					<th>Datetime original</th>
					<th>Ready to import?</th>
					<th>Import Result</th>
					<th>set date</th>
				</tr>
				<tr th:each="file,iter : ${importJob.importFiles}">
					<td th:text="${file.name}"></td>
					<td th:text="${importJob.getMediaFileType(file)}"></td>
					<td th:text="${importJob.getExifData(file)}? 'YES' : 'NO'"></td>
					<td th:text="${importJob.getDateTimeOriginal(file)}"></td>
					<td th:text="${importJob.isReadyToImport(file)}? 'YES' : 'NO'"></td>
					<td th:text="${importJob.getImportResult(file)}"></td>
					<td>
						<form method="POST" th:action="@{/import/file/__${file.name}__/setdatetimeoriginal}">
							<input type="datetime-local" name="dateTimeOriginal"/> <input type="submit" value="SET" />
						</form>
					</td>
				</tr>
			</table>
			<form method="POST" enctype="multipart/form-data" th:action="@{/import/add}">
				<table>
					<tr>
						<td>Image to upload:</td>
						<td><input type="file" name="file" multiple="multiple"/></td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="upload" /></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>

</html>