@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	width: 100%;
    font: normal 14px Arial, sans-serif;
    color: #c0c0c0;
    background-color: #101010;
}


div.header {
	position: absolute;
	top: 0px;
	width: 100%;
	margin: 0px;
	padding: 10px 30px;
    background-color: #292929;
}

div.header div.title h1 {
	float:left;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	font-size: 30px;
	font-weight: normal;
}

div.header div.version h1 {
	float:right;
	margin: 0px;
	padding: 10px 60px 0px 0px;
	font-size: 15px;
	font-weight: normal;
    color: #a0a0a0;
}

div.menu-bar {
	position: absolute;
	top: 64px;
	width: 100%;
	padding-left: 30px;
	background-color: #292929;
}

div.menu-bar div {
	float: left;
	width: 200px;
	height: 35px;
	padding: 10px 0px;
	margin-right: 10px;
	text-align: left;
    background-color: #292929;
}

/* clickable menu item */
div.menu-bar div a {
	color: #808080;
	font-size: 20px;
	text-decoration: none;
}

/* clickable menu item (hover) */
div.menu-bar div a :hover {
	color: #808080;
	font-size: 20px;
	text-decoration: underline;
}

/* selected (= not clickable) menu item */
div.menu-bar div span {
	color: #fbea58;
	font-size: 20px;
	text-decoration: none;
}

div.filename-bar {
	position: absolute;
	top: 64px;
	width: 100%;
	padding-left: 30px;
	background-color: #292929;
}

div.filename-bar div {
	float: left;
	height: 35px;
	padding: 10px 0px;
	margin-right: 10px;
	text-align: left;
    background-color: #292929;
}

div.filename-bar div span {
	color: #808080;
	font-size: 20px;
	text-decoration: none;
}

div.filename-bar div a {
	color: #fbea58;
	font-size: 20px;
	text-decoration: none;
}

div.main-content {
	position:absolute;
	top: 119px;
	bottom: 0px;
	width: 100%;
	overflow-y: scroll;
	margin: 10px 10px; 
}

div.image-detail-view {
	width: 100%;
	height: 100%;
}

div.image-detail-view-image {
	float:left;
}

div.image-detail-view-image a img {
	max-height:480px;
	image-orientation: from-image;
}

div.image-detail-view-data {
	float:right;
}

div.image-detail-view-data table tr th {
	color: #808080;
	font-size: 18px;
	text-decoration: bold;
	text-align: left;
	padding: 5px 40px 5px 5px;
}

div.image-detail-view-data table tr td {
	color: #808080;
	font-size: 18px;
	text-align: left;
	padding: 5px 40px 5px 5px;
}

div.image-detail-view-data table {
	margin-top: 20px;
}

div.timeline-menu {
	width: 150px;
	float: left;
	padding: 10px;	
}

div.timeline-menu div {
	margin: 5px 0px;
}

div.timeline-menu div a {
	color: #808080;
	text-decoration: none;
}

div.timeline-menu div a.selected {
	color: #fbea58;
	text-decoration: none;
}

div.timeline-menu div div {
	margin: 5px 0px 5px 20px;
}

div.timeline-menu div div a {
	color: #808080;
	text-decoration: none;
}

div.timeline-menu div div a.selected {
	color: #fbea58;
	text-decoration: none;
}

div.timeline-menu div div div {
	margin: 5px 0px 5px 20px;
}

div.timeline-menu div div div a {
	color: #808080;
	text-decoration: none;
}

div.timeline-menu div div div span {
	color: #fbea58;
}

div.media-files {
	float: left;
	padding: 10px;			
}

div.media-files div a {
	color: #808080;
	text-decoration: none;
	line-height: 25px;
}

div.media-files div a:hover {
    text-decoration: underline;
}

span.album-tag {
	background-color: #3ea3ee;
	color: #202020;
	text-decoration: none;
	margin: 0 0 0 15px;
	padding: 1px 10px;
	border-radius:5px;
}

div.album-menu {
	width: 500px;
	float: left;
	padding: 10px;	
}

/* ------------------------------------------ */
/* IMPORT                                     */
/* ------------------------------------------ */
div.import-upload {
	margin: 20px 0px;
}

div.import-upload form table tr td {
	color: #808080;
	font-size: 20px;
}

div.import-upload form table tr td input {
	font-size: 20px;
}

div.import-job {
	margin: 20px 0px;
}

div.import-job div {
	margin: 10px 0px;
	color: #808080;
	font-size: 20px;
}

div.import-job form div input.albumname {
	width: 300px;
}

div.import-job form div input.submit-startjob {
	font-size: 20px;
}

div.import-job div form input.submit-clearjob {
	font-size: 20px;
}

div.import-table {
	margin: 20px 0px;
}

div.import-table table tr th {
	text-align: left;
	padding: 5px 20px 5px 0px;
	font-size: 16px;
	text-decoration: underline;
}

div.import-table table tr td {
	text-align: left;
	padding: 5px 20px 5px 0px;
	font-size: 16px;
}

/* ------------------------------------------ */
/* SEARCH                                     */
/* ------------------------------------------ */

div.search-input {
	text-align: center;
	padding: 10px;
}

div.search-input form input.query {
	width: 600px;
	font-size: 16px;
	
}
