<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography :: console</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    		<p><a th:href="@{/console}">all consoles</a></p>
    		<h2 th:text="${title}"></h2>
    		<p th:if="${closed}">(closed)</p>
    		<p th:text="${startTime}" />
        <div th:if="content" style="border: 1px;">
            <pre><span th:text="${content}"></span></pre>
        </div>

    </body>
</html>