<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        <title>Biography :: console</title> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
    		<p><a th:href="@{/}">Home</a></p>
    		<div th:each="console,iter : ${consoles}">
    			<a th:text="${console.title}" th:href="@{'/console/' + ${iter.index}}"></a>
    			<span th:if="${console.closed}">(closed)</span>
    			<span th:text="${console.startTime}"></span>
    		</div>
           </body>
</html>