<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>Biography</title> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
 		<div th:fragment="header" class="header">
 			<div class="title">
	 			<h1>Biography</h1>
 			</div>
 			<div class="version">
	 			<h1>v@project.version@</h1>
 			</div>
 		</div>
 		<div th:fragment="menu" class="menu-bar">
 			<div>
				<a th:href="@{/timeline}" th:if="${selectedMenuItem!='TIMELINE'}">TIMELINE</a>
				<span th:if="${selectedMenuItem=='TIMELINE'}">TIMELINE</span>
 			</div>
 			<div>
				<a th:href="@{/albums}" th:if="${selectedMenuItem!='ALBUMS'}">ALBUMS</a>
				<span th:if="${selectedMenuItem=='ALBUMS'}">ALBUMS</span>
 			</div>
 			<div>
				<a th:href="@{/search}" th:if="${selectedMenuItem!='SEARCH'}">SEARCH</a>
				<span th:if="${selectedMenuItem=='SEARCH'}">SEARCH</span>
 			</div>
 			<div>
				<a th:href="@{/import}" th:if="${selectedMenuItem!='IMPORT'}">IMPORT</a>
				<span th:if="${selectedMenuItem=='IMPORT'}">IMPORT</span>
 			</div>
 			<div>
				<a th:href="@{/tools}" th:if="${selectedMenuItem!='TOOLS'}">TOOLS</a>
				<span th:if="${selectedMenuItem=='TOOLS'}">TOOLS</span>
 			</div>
 			<div>
				<a th:href="@{/console}" th:if="${selectedMenuItem!='CONSOLE'}">CONSOLE</a>
				<span th:if="${selectedMenuItem=='CONSOLE'}">CONSOLE</span>
 			</div>
 		</div>
 		<div th:fragment="filenameSubheader" class="filename-bar">
 			<div th:if="${backLink}">
	 			<a th:href="@{__${backLink.href}__}" th:text="${backLink.text}" accesskey="b"></a>
	 			<span>&nbsp;|&nbsp;</span>
 			</div>
 			<div>
	 			<span th:text="${fileName}"></span>
 			</div>
 		</div>
 	</body>
</html>